body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

h1 {
    color: #333;
}

pre {
    background-color: #f4f4f4;
    padding: 10px;
    border: 1px solid #ddd;
    overflow: auto;
}

textarea {
    flex: 1 1 auto;
    width: 100%;
    min-height: 10rem;
    height: calc(100vh - 7rem);
    font-family: monospace;
    font-size: 1em;
    box-sizing: border-box;
    padding: 16px;
    border: 1px solid #ddd;
    outline: none;
    background: #fafafa;
    resize: none;
}
