body {
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f0f0f0;
}

.container {
    background-color: white;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 90%;
    max-width: 40rem;
    margin-bottom: 12rem;
}

#response-container {
    border: 1px solid #ccc;
    padding: 1rem;
    margin: 1rem 0;
    min-height: 50px;
    border-radius: 5px;
    line-height: 1.5;
}

#word-bank-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.5rem;
    margin-bottom: 1rem;
}

button {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    margin: 0.25rem;
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

#submit-btn {
    background-color: #4CAF50;
    color: white;
}

#submit-btn:disabled {
    background-color: #a5d6a7; /* Muted green */
    color: #e0e0e0;
}

#clear-btn {
    background-color: #f44336;
    color: white;
}

#clear-btn:disabled {
    background-color: #f7bdbd; /* Muted red */
    color: #e0e0e0;
}

#back-btn {
    background-color: #efc32a;
    color: white;
}

#back-btn:disabled {
    background-color: #f5e7b3; /* Muted yellow */
    color: #e0e0e0;
}

#translate-btn {
    background-color: #4285F4;
    color: white;
}

#translate-btn:disabled {
    background-color: #b3c6e6; /* Muted blue */
    color: #e0e0e0;
}

.navigation-buttons {
    margin-top: 1rem;
}

.config-example {
    margin-top: 1rem;
    text-align: right;
    font-size: small;
}

.config-example a {
    color: #808080;
}

#next-btn,
#shuffle-lessons-btn,
#open-config-panel-btn {
    background-color: #008CBA;
    color: white;
}

.word-bank-btn {
    background-color: #e7e7e7;
}

/* Modal styles */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background-color: white;
    padding: 2rem;
    border-radius: 10px;
    width: 80%;
    max-width: 500px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#config-input {
    width: 95%;
    height: 150px;
    margin-bottom: 1rem;
    font-family: monospace;
}

.modal-buttons {
    text-align: right;
}
